{* docs for the site profile
you can remove this file after installation *}
<section
  n:if="is_file($config->paths->root.'tailwind.config.js')"
  class="uk-alert uk-alert-warning"
  style="color: #FF6F00"
>
  <p>TailwindCSS is not yet setup, see <a href="/tailwind">docs</a> for details.</p>
</section>
<section class="uk-margin-medium-bottom tm-prose">
  {$site->renderDocs($page)}
</section>