<hr>
<div class="uk-container uk-section-small">
  <h3>RockPageBuilder Quickstart</h3>
  <div class='uk-margin-top' sortable>
    {if wire()->modules->isInstalled('RockPageBuilder')}
      {rockpagebuilder()->render(true)}
    {else}
      NOT INSTALLED, please <a href='https://www.baumrock.com/en/processwire/modules/rockpagebuilder/docs/setup/'>see the docs</a>.
    {/if}
  </div>
</div>