<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{wire()->config->versionUrl('/site/templates/dst/styles.min.css')}" />
  <script defer src="{wire()->config->versionUrl('/site/templates/dst/scripts.min.js')}"></script>
</head>
<body>
  {include "sections/header.latte"}
  {include "sections/main.latte"}
  {include "sections/footer.latte"}
</body>
</html>