{do $rockfrontend->noLayoutFile = true}
<html>
<head>
  <title>Basic Page</title>
</head>
<body class='uk-padding uk-text-center'>
  <h1>Basic Page</h1>

  <p>This is an example of custom layout loading. See <a href="https://www.baumrock.com/en/processwire/modules/rockfrontend/docs/autoload-layout/">docs</a> for details!</p>
</body>
</html>
